  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Open Sans', sans-serif;
    /*font-weight: 300;*/
    font-size: 17px;
    font-weight: 300;
    overflow: hidden;
  }
  
  hr {
    border: 0;
    height: 1px;
    margin: 15px 0;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
  }
  
  h1 {
    margin: 1px;
    font-family: 'Cutive Mono', serif;
    color: #EBE3AA;
  }
  
  h2 {
    margin-bottom: 10px;
    font-family: 'Cutive Mono', serif;
    font-size: 1.7em;
    color: #5D4157;
  }
  
  p {
    margin-bottom: 15px;
  }
  
  .bigger-text {
    font-size: 120%;
  }
  
  .subtitle {
    font-family: 'Cutive Mono', serif;
    color: #EBE3AA;
    /*text-align: l;*/
  }
  
  button {
    padding: 10px;
    justify-content: center;
    border: 1px solid #424242;
    background-color: white;
    word-wrap: break-word;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    color: #5D4157;
  }
  
  button:disabled {
    background: #d5d5d5;
  }
  /* CONTAINERS */
  
  #container {
    width: 100%;
    height: 90vh;
  }
  
  #container-left {
    margin: 0px auto;
    width: 50%;
    height: 100vh;
    float: left;
  }
  
  #container-right {
    margin: 0px auto;
    width: 50%;
    height: 90vh;
    float: left;
  }
  
  #title-bar {
    padding: 10px 20px;
    height: 80px;
    border-width: 1px 0 0 1px;
    border-style: solid;
    border-color: #424242;
    background-color: #838689;
    /* gray */
    color: #EBE3AA;
    /* yellow */
    text-shadow: 1px 1px #5D4157;
    /*purple*/
  }
  
  #left-top {
    padding: 10px;
    margin: 0px auto;
    width: 50vw;
    height: calc(100vh - 40px);
    overflow: auto;
    float: left;
    background-color: #A8CABA;
    border-width: 1px 0 0 1px;
    border-style: solid;
    border-color: #424242;
  }
  
  #left-full {
    padding: 10px;
    margin: 0px auto;
    width: 50vw;
    height: 100vh;
    overflow: auto;
    float: left;
    background-color: #A8CABA;
    border-width: 1px 0 1px 1px;
    border-style: solid;
    border-color: #424242;
  }
  
  #right-top {
    margin: 0px auto;
    padding: 20px;
    width: 100%;
    height: 40vh;
    vertical-align: center;
    background-color: #CAD7B2;
    border: 1px solid #424242;
    overflow: auto;
  }
  
  #right-bottom {
    margin: 0px auto;
    padding: 20px;
    width: 100%;
    height: 60vh;
    vertical-align: center;
    background-color: #EBE3AA;
    border-width: 0 1px 1px 1px;
    border-style: solid;
    border-color: #424242;
    overflow: auto;
  }
  /* MESSAGE AREA */
  
  #messages {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  #messages li {
    padding: 10px;
    margin: 5px;
    color: #5D4157;
    font-family: 'Cutive Mono', serif;
    background-color: #ededed;
  }

  /* CHAT BOX INPUT AREA */
  
  #input-area {
    position: fixed;
    bottom: 0;
    height: 40px;
    width: 50vw;
  }
  
  #input-area input {
    padding: 10px;
    height: 40px;
    width: calc(50vw - 50px);
    display: inline-block;
    margin-bottom: 0px;
    border-width: 1px 0px 1px 1px;
    border-style: solid;
    border-color: #424242;
    font-family: 'Cutive Mono', serif;
    font-size: 15px;
    outline: none;
  }
  
  #input-area button {
    width: 50px;
    height: 40px;
    float: right;
    background: white;
    border-width: 1px 0 1px 1px;
    border-style: solid;
    color: #5D4157;
    /* purple */
  }
  
  #input-area button:disabled {
    background: #d5d5d5;
  }
  /* SCORE BOARD STYLING */
  
  .correct {
    color: green;
    /* green */
  }
  
  .incorrect {
    color: red;
    /* red */
  }
