  * {
    margin: 0;
    padding: 0;
    box - sizing: border - box;
  }
  
  body {
    font: 13 px Helvetica, Arial;
  }

  /* GENERAL LAYOUT OF THE SITE */
  
  #container {
    width: 100%;
    height: 90vh;
  }
  
  #first {
    width: 50%;
    height: 90vh;
    overflow: auto;
    float: left;
  }
  
  #second {
    width: 50%;
    height: 90vh;
    border: 10px;
    float: left;
  }
  
  #scoreboard {
    width: 100%;
    height: 30vh;
    background-color: pink;
  }
  
  .choice {
    width: 100%;
    height: 70vh;
    background-color: #EED2EE;
  }
  
  /* CHAT BOX INPUT AREA */
  
  .chatbox {
    background: #000;
    padding: 3px;
    position: fixed;
    bottom: 0;
    height: 8vh;
    width: 100%;
  }
  
  .chatbox input {
    border: 0;
    padding: 10px;
    width: 80vw;
    margin-right: .5%;
  }
  
  button {
    /*width: 5vw;*/
    background: rgb(130, 224, 255);
    border: none;
    justify-content: center;
    padding: 1vw;
  }
  
  #messages {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  #messages li {
    padding: 5 px 10 px;
  }
  
  #messages li:nth-child(odd) {
    background: #eee;
  }
  
  .automated-msg {
    color: #cccccc;
    font-style: italic;
  }
